.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin: 73px 0;

  .footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    font-size: 1.15rem;
    
    .socials, .footer-links{
      display: flex;
      gap: 48px;
    }

    .footer-links{
      color: #111827;
    }

    .copyright{
      color: #6B7280;
    }
  }
}

@media(max-width: 768px){
  .footer-container{
    flex-direction: column;
    gap: 0;

    .footer{
      gap: 24px;

      .socials, .footer-links{
        gap: 24px;
      }
    }
  }
}

@media(max-width: 500px){
  .footer-container{
    .footer{
      .socials, .footer-links{
        gap: 12px;
      }

      .footer-links{
        flex-direction: column;
        text-align: center ;
      }
    }
  }
}